{% extends 'base.html' %}

{% block header %}
  {% block title %}Wishlist{% endblock %}
{% endblock %}

{% block container %}

    <script>
        $(document).ready(function() {
            $('.message .close')
              .on('click', function() {
                $(this)
                  .closest('.message')
                  .transition('fade')
                ;
              })
            ;
        });
    </script>

    {% if error_message %}
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
                Error
            </div>
            <p>{{error_message}}</p>
        </div>
    {% endif %}


<div class="ui middle aligned grid">
    <div class="row center aligned">
        <div class="column centered">
            <h1 class="ui header"><i class="steam square icon"></i>
                See which of your Steam wishlist games have demos</h1>
            <div class="ui segment">
                <h3 class="ui header">Enter your SteamID</h3>
                <div>Make sure your wishlist is public. If you don't know your SteamID, use a site such as <a href="https://www.steamidfinder.com/"> Steam ID Finder </a> or follow the instructions in the <a href="https://help.steampowered.com/en/faqs/view/2816-BE67-5B69-0FEC"> Steam FAQ.</a></div>
                <form class="ui form" action="/" method="POST">
                    <div class="field">
                        <!--label>Enter your Steam ID</label-->
                        <input type="number" name="steamid" placeholder="e.g.: 123456789123" required>
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}