{% extends 'base.html' %}

{% block header %}
  {% block title %}Wishlist{% endblock %}
{% endblock %}

{% block container %}

    <script>
        $(document).ready(function() {
            $('#wishlist-table').DataTable({
              "lengthMenu": [50, 100, 200],
              "pageLength": 100
            });
            $('.message .close')
              .on('click', function() {
                $(this)
                  .closest('.message')
                  .transition('fade')
                ;
              })
            ;
        });
    </script>

    <h1 class="ui header centered">Wishlist</h1>
    <h3 class="ui header centered">Games/demos: {{ game_list | length }} / {{ total_demos }}</h3>

    <h4 class="ui header centered">(go to: <a href="https://store.steampowered.com/wishlist/profiles/{{steam_id}}">Steam wishlist</a> | <a href="https://steamcommunity.com/profiles/{{steam_id}}">Steam profile</a>)</h4>

    <div class="ui small olive icon message">
        <i class="close icon"></i>
        <i class="info circle icon"></i>
        <div class="content">
        Games with demos are shown in <span class="ui blue text">blue</span>. Click on the table headers to sort based on that column. Search for "demo" to show only games with demos.
            </div>
    </div>

    <table id="wishlist-table" class="ui compact table" style="width:100%">
        <thead>
            <tr>
                <td>No.</td>
                <td>Title</td>
                <td>Demo</td>
            </tr>
        </thead>
    <tbody>
        {% for game in game_list %}
            {% if game.demo_appid %}
                <tr class="blue">
            {% else %}
                <tr>
            {% endif %}
                    <td data-label="No.">{{game.wishlist_priority}}</td>
                    <td data-label="Title" class="selectable"><a href='{{game.url}}'>{{game.title}}</a></td>
                    <td data-label="Demo">
                        {% if game.demo_appid %}
                            <a href="steam://install/{{game.demo_appid}}">Install Demo</a>
                        {% endif %}
                    </td>
                </tr>

        {% endfor %}
    </tbody>
    </table>

{% endblock %}